@model SwineOMite.Models.SmokingWoodQuantity.SmokingWoodQuantityDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SmokingWoodQuantityListItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SmokingWoodQuantityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmokingWoodQuantityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmokingWoodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmokingWoodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WoodQuantityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WoodQuantityId)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
