@model IEnumerable<SwineOMite.Models.CompleteIngredient.CompleteIngredientListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompleteIngredientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngredientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompleteIngredientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompleteIngredientId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CompleteIngredientId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CompleteIngredientId })
        </td>
    </tr>
}

</table>
