@model IEnumerable<SwineOMite.Models.IngredientQuantities.IngredientQuantityListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuantityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngredentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeasurementUnit)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngredentAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeasurementUnit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuantityId }) |
            @Html.ActionLink("Details", "Details", new { id = item.QuantityId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.QuantityId })
        </td>
    </tr>
}

</table>
