@model SwineOMite.Models.WoodQuantity.WoodQuantityDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WoodQuantityDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WoodQuantityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WoodQuantityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WoodAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WoodAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WoodQuantityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
