@model IEnumerable<SwineOMite.Models.WoodQuantity.WoodQuantityListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WoodQuantityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WoodAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WoodQuantityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WoodAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WoodQuantityId }) |
            @Html.ActionLink("Details", "Details", new { id = item.WoodQuantityId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.WoodQuantityId })
        </td>
    </tr>
}

</table>
